/* Editor styles */

.wp-block-a8c-color-effects {
	&__inner-container
		> .block-editor-inner-blocks
		> .block-editor-block-list__layout {
		margin-left: 0;
		margin-right: 0;
	}

	[data-align='left'] > &,
	[data-align='right'] > & {
		max-width: 290px;
		width: 100%;
	}

	canvas {
		z-index: 0;
	}
}
