/**
 * Frontend styles.
 */

.wp-block-a8c-model-viewer {
	// Clear out default margins on figure.
	margin-left: 0;
	margin-right: 0;
}

.wp-block-a8c-model-viewer__component {
	width: inherit;
	height: inherit;
}
