// Front end and editor styles.

$bgcolor: #efefef; // Be nice if this was customizable via a background color property.

@keyframes open-card {
	0% {
		transform: rotateX(-180deg);
		opacity: 0;
	}
	100% {
		transform: rotateX(0deg);
		opacity: 1;
	}
}

.wp-block-a8c-details {

	// 3D flip-card style.
	&.is-style-flipcard {
		margin-bottom: 1.5em;

		// Enable 3D perspective.
		transform-style: preserve-3d;
		perspective: 300px;


		// Card front-face.
		summary {
			background: $bgcolor; 
			padding: 1em;

			// Allows a focus style on the summary to be uncropped.
			position: relative;
		}

		// Back-face regardless of opened or closed.
		> *:not(summary) {
			background: $bgcolor;
			transform-origin: top center;
			backface-visibility: hidden;

			// Some baseline left and right padding.
			padding-left: 1em;
			padding-right: 1em;
		}

		// Neutralize the top margin of the first innerblock, add padding.
		> summary+*, // Frontend
		> .block-editor-inner-blocks > .block-editor-block-list__layout > * { // Editor
			margin-top: 0;
			padding-top: 1em;
		}

		// Back-face when opened.
		&[open] > *:not(summary) {
			animation: open-card .2s ease;
		}
	}

	// Modal style.
	&.is-style-modal {
		summary {
			width: 10em;
			text-align: center;
			font-weight: bold;
			padding: 1em 2em;
			background: DEEPPINK;
			border-radius: 3em;
			color: white;
			cursor: pointer;
		}

		:not( summary ) {
			width: 20em;
			border: 2px solid black;
			padding: 1em 2em;
			position: fixed;
			width: 360px;
			height: 240px;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			background: white;
			z-index: 3;
			box-shadow: 10px 10px 10px DIMGRAY;
		}
	}

	&[open].is-style-modal {
		summary::after {
			content: '×';
			font-size: 28pt;
			position: fixed;
			right: calc( 50vw - 360px / 2 - 2em );
			top: calc( 50vh - 240px / 2 - 2em );
			padding: 5pt 10pt;
			z-index: 9;
		}

		summary::before {
			content: '';
			display: block;
			width: 100vw;
			height: 100vh;
			background: black;
			position: fixed;
			top: 0;
			left: 0;
			opacity: 0.5;
			z-index: 1;
		}
	}
}
