// Import editor styles for blocks
@import './blocks/bauhaus-centenary/editor.scss';
@import './blocks/event/editor.scss';
@import './blocks/layout-grid/editor.scss';
@import './blocks/motion-background/editor.scss';
@import './blocks/starscape/editor.scss';
@import './blocks/waves/editor.scss';
@import './blocks/book/editor.scss';
