/* Import front end styles for blocks */
@import './blocks/bauhaus-centenary/style.scss';
@import './blocks/color-effects/style.scss';
@import './blocks/event/style.scss';
@import './blocks/image-compare/style.scss';
@import './blocks/layout-grid/style.scss';
@import './blocks/motion-background/style.scss';
@import './blocks/starscape/style.scss';
