/* Import front end styles for blocks */
@import './blocks/bauhaus-centenary/style.scss';
@import './blocks/duotone-filter/style.scss';
@import './blocks/event/style.scss';
@import './blocks/layout-grid/style.scss';
@import './blocks/motion-background/style.scss';
@import './blocks/starscape/style.scss';
@import './blocks/waves/style.scss';
