.image-compare__placeholder {
	> .components-placeholder > .components-placeholder__label {
		display: none;
	}

	.components-placeholder__fieldset .components-button {
		margin-right: auto;
	}
}

.image-compare__image-before,
.image-compare__image-after {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.image-compare__image-before {
	padding-right: 24px;
}

.image-compare__image-after {
	padding-left: 24px;
}

.image-compare__image-before {
	border-right: 1px solid #e2e4e7;
}
