/**
 * Grid Block styles.
 * These styles are loaded into both the editor, and the frontend.
 */
/**
 * Responsive Grid Options
 */
/* autoprefixer grid: no-autoplace */
.wp-block-jetpack-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-gap: 24px;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr); }
  @media (min-width: 600px) {
    .wp-block-jetpack-layout-grid {
      -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr); } }
  @media (min-width: 1080px) {
    .wp-block-jetpack-layout-grid {
      -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr); } }
  .wp-block-jetpack-layout-grid .wp-block-jetpack-layout-grid-column * {
    word-break: break-word;
    word-wrap: break-word; }
  .wp-block-jetpack-layout-grid.wp-block-jetpack-layout-gutter__none {
    grid-gap: 0px; }
  .wp-block-jetpack-layout-grid.wp-block-jetpack-layout-gutter__small {
    grid-gap: 8px; }
  .wp-block-jetpack-layout-grid.wp-block-jetpack-layout-gutter__medium {
    grid-gap: 16px; }
  .wp-block-jetpack-layout-grid.wp-block-jetpack-layout-gutter__huge {
    grid-gap: 48px; }

@-moz-document url-prefix() {
  .wp-block-jetpack-layout-grid .wp-block-cover {
    max-height: 0; } }

.wp-block-jetpack-layout-grid-column.grid-column-mobile__start-1 {
  -ms-grid-column: 1;
      grid-column-start: 1; }

.wp-block-jetpack-layout-grid-column.grid-column-mobile__span-1 {
  -ms-grid-column-span: 1;
  grid-column-end: span 1; }

.wp-block-jetpack-layout-grid-column.grid-column-mobile__start-2 {
  -ms-grid-column: 2;
      grid-column-start: 2; }

.wp-block-jetpack-layout-grid-column.grid-column-mobile__span-2 {
  -ms-grid-column-span: 2;
  grid-column-end: span 2; }

.wp-block-jetpack-layout-grid-column.grid-column-mobile__start-3 {
  -ms-grid-column: 3;
      grid-column-start: 3; }

.wp-block-jetpack-layout-grid-column.grid-column-mobile__span-3 {
  -ms-grid-column-span: 3;
  grid-column-end: span 3; }

.wp-block-jetpack-layout-grid-column.grid-column-mobile__start-4 {
  -ms-grid-column: 4;
      grid-column-start: 4; }

.wp-block-jetpack-layout-grid-column.grid-column-mobile__span-4 {
  -ms-grid-column-span: 4;
  grid-column-end: span 4; }

.wp-block-jetpack-layout-grid-column.grid-column-mobile__start-5 {
  -ms-grid-column: 5;
      grid-column-start: 5; }

.wp-block-jetpack-layout-grid-column.grid-column-mobile__span-5 {
  -ms-grid-column-span: 5;
  grid-column-end: span 5; }

.wp-block-jetpack-layout-grid-column.grid-column-mobile__start-6 {
  -ms-grid-column: 6;
      grid-column-start: 6; }

.wp-block-jetpack-layout-grid-column.grid-column-mobile__span-6 {
  -ms-grid-column-span: 6;
  grid-column-end: span 6; }

.wp-block-jetpack-layout-grid-column.grid-column-mobile__start-7 {
  -ms-grid-column: 7;
      grid-column-start: 7; }

.wp-block-jetpack-layout-grid-column.grid-column-mobile__span-7 {
  -ms-grid-column-span: 7;
  grid-column-end: span 7; }

.wp-block-jetpack-layout-grid-column.grid-column-mobile__start-8 {
  -ms-grid-column: 8;
      grid-column-start: 8; }

.wp-block-jetpack-layout-grid-column.grid-column-mobile__span-8 {
  -ms-grid-column-span: 8;
  grid-column-end: span 8; }

.wp-block-jetpack-layout-grid-column.grid-column-mobile__start-9 {
  -ms-grid-column: 9;
      grid-column-start: 9; }

.wp-block-jetpack-layout-grid-column.grid-column-mobile__span-9 {
  -ms-grid-column-span: 9;
  grid-column-end: span 9; }

.wp-block-jetpack-layout-grid-column.grid-column-mobile__start-10 {
  -ms-grid-column: 10;
      grid-column-start: 10; }

.wp-block-jetpack-layout-grid-column.grid-column-mobile__span-10 {
  -ms-grid-column-span: 10;
  grid-column-end: span 10; }

.wp-block-jetpack-layout-grid-column.grid-column-mobile__start-11 {
  -ms-grid-column: 11;
      grid-column-start: 11; }

.wp-block-jetpack-layout-grid-column.grid-column-mobile__span-11 {
  -ms-grid-column-span: 11;
  grid-column-end: span 11; }

.wp-block-jetpack-layout-grid-column.grid-column-mobile__start-12 {
  -ms-grid-column: 12;
      grid-column-start: 12; }

.wp-block-jetpack-layout-grid-column.grid-column-mobile__span-12 {
  -ms-grid-column-span: 12;
  grid-column-end: span 12; }

@media (min-width: 600px) {
  .wp-block-jetpack-layout-grid-column.grid-column-tablet__start-1 {
    -ms-grid-column: 1;
        grid-column-start: 1; }
  .wp-block-jetpack-layout-grid-column.grid-column-tablet__span-1 {
    -ms-grid-column-span: 1;
    grid-column-end: span 1; }
  .wp-block-jetpack-layout-grid-column.grid-column-tablet__start-2 {
    -ms-grid-column: 2;
        grid-column-start: 2; }
  .wp-block-jetpack-layout-grid-column.grid-column-tablet__span-2 {
    -ms-grid-column-span: 2;
    grid-column-end: span 2; }
  .wp-block-jetpack-layout-grid-column.grid-column-tablet__start-3 {
    -ms-grid-column: 3;
        grid-column-start: 3; }
  .wp-block-jetpack-layout-grid-column.grid-column-tablet__span-3 {
    -ms-grid-column-span: 3;
    grid-column-end: span 3; }
  .wp-block-jetpack-layout-grid-column.grid-column-tablet__start-4 {
    -ms-grid-column: 4;
        grid-column-start: 4; }
  .wp-block-jetpack-layout-grid-column.grid-column-tablet__span-4 {
    -ms-grid-column-span: 4;
    grid-column-end: span 4; }
  .wp-block-jetpack-layout-grid-column.grid-column-tablet__start-5 {
    -ms-grid-column: 5;
        grid-column-start: 5; }
  .wp-block-jetpack-layout-grid-column.grid-column-tablet__span-5 {
    -ms-grid-column-span: 5;
    grid-column-end: span 5; }
  .wp-block-jetpack-layout-grid-column.grid-column-tablet__start-6 {
    -ms-grid-column: 6;
        grid-column-start: 6; }
  .wp-block-jetpack-layout-grid-column.grid-column-tablet__span-6 {
    -ms-grid-column-span: 6;
    grid-column-end: span 6; }
  .wp-block-jetpack-layout-grid-column.grid-column-tablet__start-7 {
    -ms-grid-column: 7;
        grid-column-start: 7; }
  .wp-block-jetpack-layout-grid-column.grid-column-tablet__span-7 {
    -ms-grid-column-span: 7;
    grid-column-end: span 7; }
  .wp-block-jetpack-layout-grid-column.grid-column-tablet__start-8 {
    -ms-grid-column: 8;
        grid-column-start: 8; }
  .wp-block-jetpack-layout-grid-column.grid-column-tablet__span-8 {
    -ms-grid-column-span: 8;
    grid-column-end: span 8; }
  .wp-block-jetpack-layout-grid-column.grid-column-tablet__start-9 {
    -ms-grid-column: 9;
        grid-column-start: 9; }
  .wp-block-jetpack-layout-grid-column.grid-column-tablet__span-9 {
    -ms-grid-column-span: 9;
    grid-column-end: span 9; }
  .wp-block-jetpack-layout-grid-column.grid-column-tablet__start-10 {
    -ms-grid-column: 10;
        grid-column-start: 10; }
  .wp-block-jetpack-layout-grid-column.grid-column-tablet__span-10 {
    -ms-grid-column-span: 10;
    grid-column-end: span 10; }
  .wp-block-jetpack-layout-grid-column.grid-column-tablet__start-11 {
    -ms-grid-column: 11;
        grid-column-start: 11; }
  .wp-block-jetpack-layout-grid-column.grid-column-tablet__span-11 {
    -ms-grid-column-span: 11;
    grid-column-end: span 11; }
  .wp-block-jetpack-layout-grid-column.grid-column-tablet__start-12 {
    -ms-grid-column: 12;
        grid-column-start: 12; }
  .wp-block-jetpack-layout-grid-column.grid-column-tablet__span-12 {
    -ms-grid-column-span: 12;
    grid-column-end: span 12; } }

@media (min-width: 1080px) {
  .wp-block-jetpack-layout-grid-column.grid-column-desktop__start-1 {
    -ms-grid-column: 1;
        grid-column-start: 1; }
  .wp-block-jetpack-layout-grid-column.grid-column-desktop__span-1 {
    -ms-grid-column-span: 1;
    grid-column-end: span 1; }
  .wp-block-jetpack-layout-grid-column.grid-column-desktop__start-2 {
    -ms-grid-column: 2;
        grid-column-start: 2; }
  .wp-block-jetpack-layout-grid-column.grid-column-desktop__span-2 {
    -ms-grid-column-span: 2;
    grid-column-end: span 2; }
  .wp-block-jetpack-layout-grid-column.grid-column-desktop__start-3 {
    -ms-grid-column: 3;
        grid-column-start: 3; }
  .wp-block-jetpack-layout-grid-column.grid-column-desktop__span-3 {
    -ms-grid-column-span: 3;
    grid-column-end: span 3; }
  .wp-block-jetpack-layout-grid-column.grid-column-desktop__start-4 {
    -ms-grid-column: 4;
        grid-column-start: 4; }
  .wp-block-jetpack-layout-grid-column.grid-column-desktop__span-4 {
    -ms-grid-column-span: 4;
    grid-column-end: span 4; }
  .wp-block-jetpack-layout-grid-column.grid-column-desktop__start-5 {
    -ms-grid-column: 5;
        grid-column-start: 5; }
  .wp-block-jetpack-layout-grid-column.grid-column-desktop__span-5 {
    -ms-grid-column-span: 5;
    grid-column-end: span 5; }
  .wp-block-jetpack-layout-grid-column.grid-column-desktop__start-6 {
    -ms-grid-column: 6;
        grid-column-start: 6; }
  .wp-block-jetpack-layout-grid-column.grid-column-desktop__span-6 {
    -ms-grid-column-span: 6;
    grid-column-end: span 6; }
  .wp-block-jetpack-layout-grid-column.grid-column-desktop__start-7 {
    -ms-grid-column: 7;
        grid-column-start: 7; }
  .wp-block-jetpack-layout-grid-column.grid-column-desktop__span-7 {
    -ms-grid-column-span: 7;
    grid-column-end: span 7; }
  .wp-block-jetpack-layout-grid-column.grid-column-desktop__start-8 {
    -ms-grid-column: 8;
        grid-column-start: 8; }
  .wp-block-jetpack-layout-grid-column.grid-column-desktop__span-8 {
    -ms-grid-column-span: 8;
    grid-column-end: span 8; }
  .wp-block-jetpack-layout-grid-column.grid-column-desktop__start-9 {
    -ms-grid-column: 9;
        grid-column-start: 9; }
  .wp-block-jetpack-layout-grid-column.grid-column-desktop__span-9 {
    -ms-grid-column-span: 9;
    grid-column-end: span 9; }
  .wp-block-jetpack-layout-grid-column.grid-column-desktop__start-10 {
    -ms-grid-column: 10;
        grid-column-start: 10; }
  .wp-block-jetpack-layout-grid-column.grid-column-desktop__span-10 {
    -ms-grid-column-span: 10;
    grid-column-end: span 10; }
  .wp-block-jetpack-layout-grid-column.grid-column-desktop__start-11 {
    -ms-grid-column: 11;
        grid-column-start: 11; }
  .wp-block-jetpack-layout-grid-column.grid-column-desktop__span-11 {
    -ms-grid-column-span: 11;
    grid-column-end: span 11; }
  .wp-block-jetpack-layout-grid-column.grid-column-desktop__start-12 {
    -ms-grid-column: 12;
        grid-column-start: 12; }
  .wp-block-jetpack-layout-grid-column.grid-column-desktop__span-12 {
    -ms-grid-column-span: 12;
    grid-column-end: span 12; } }
