.vatiation-control {
	padding-left: 0;
	padding-right: 0;
}

.vatiation-control__cancel-button {
    color: $blue-wordpress;
	font-size: 16px;
}
.vatiation-control__cancel-button-dark {
    color: $blue-30;
}

.vatiation-control__close-icon {
	color: $gray;
}

.vatiation-control__scrollview-container {
	flex-direction: row;
	padding-bottom: $grid-unit-15;
	padding-left: $grid-unit-20 / 2;
	padding-right: $grid-unit-20 / 2;
}

.vatiation-control__scrollview {
	padding-top: $grid-unit-15;
}

.vatiation-control-inner__header {
	flex-direction: row;
	align-items: center;
	padding-right: $grid-unit-20;
	padding-left: $grid-unit-20;
	min-height: 44px;
}

.vatiation-control-inner__header-text {
	color: $light-primary;
	text-align: center;
	font-weight: 600;
	font-size: 16px;
	flex: 2;
}

.vatiation-control-inner__header-text-dark {
	color: $dark-primary;
}