.variation-control {
	padding-left: 0;
	padding-right: 0;
}

.variation-control__cancel-button {
    color: $blue-wordpress;
	font-size: 16px;
	padding-left: $grid-unit-20;
	padding-right: $grid-unit-20;
}
.variation-control__cancel-button-dark {
    color: $blue-30;
}

.variation-control__close-icon {
	color: $gray;
	margin-left: $grid-unit-10;
	padding-left: $grid-unit-20;
	padding-right: $grid-unit-20;
}

.variation-control__inner-shell {
	padding: 0 $grid-unit-20;
}

.variation-control-inner__scrollview-container {
	flex-direction: row;
	padding-left: 8px;
	padding-right: 0;
	
}

.variation-control-inner__scrollview {
	padding-top: $grid-unit-15;
	margin-left: -16px;
	margin-right: -16px;
}

.variation-control-inner__footer {
	padding-top: 21.5px;
	padding-bottom: 10.5px;
	font-size: 12px;
	color: $gray;
	flex: 1;
}

.variation-control-inner__footer-last {
	padding-top: 0px;
}

.variation-control-selected-button {
	width: 112px;
	height: 84px;
}

.variation-control-selected-button__item {
	border-width: $block-selected-border-width;
	border-radius: 8px;
	border-style: solid;
	border-color: $blue-50;
	background-color: $gray-light;
}
.variation-control-selected-button__item-dark {
	border-color: $blue-30;
	background-color: rgba( $white, 0.07 );
}

.variation-control-selected-button__label-icon {
	width: 48px;
	height: 32px;
	justify-content: center;
	align-items: center;
	fill: $gray-dark;
}

.variation-control-selected-button__label-icon-dark {
	fill: $white;
}

.variation-control-selected-button__label{
	background-color: transparent;
	padding-left: 2;
	padding-right: 2;
	padding-top: 4;
	padding-bottom: 0;
	justify-content: center;
	font-size: 12;
	color: $gray-dark;
}

.variation-control-selected-button__label-dark {
	color: $white;
}