.wp-block-a8c-sketch {
	&__brush-style-popover {
		/**
		 * Take care of default width for popover content.
		 */
		.components-popover__content {
			min-width: initial;
		}
	}
}


.wp-block-a8c-sketch__toolbar-menu-group {
	min-width: 280px;
}

.wp-block-a8c-sketch__toolbar-menu-group {
	.wp-block-a8c-sketch__actions {
		display: flex;
		justify-content: flex-end;
		margin-top: 12px;
	}

	.components-button {
		margin-left: 8px;
	}
}