.wp-block-a8c-sketch {
	&__brush-style-popover {
		.components-dropdown-menu__menu
			.components-dropdown-menu__menu-item.is-active
			svg {
			background: initial;
			color: initial;
		}

		/**
		* Take care of default width for popover content.
		*/
		.components-popover__content {
			min-width: initial;
		}
	}
}
