.wp-block-a8c-sketch {
	width: 100%;
	height: 100%;
	position: relative;

	svg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		touch-action: none;
		overflow: hidden;
	}

	&__brush-style-popover {
		.components-dropdown-menu__menu
			.components-dropdown-menu__menu-item.is-active
			svg {
			background: initial;
			color: initial;
		}

		/**
		* Take care of default width for popover content.
		*/
		.components-popover__content {
			min-width: initial;
		}
	}
}
