.wp-block-a8c-sketch {
	height: 100%;
	position: relative;

	svg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		touch-action: none;
		overflow: hidden;

		path {
			user-select: none;
			-webkit-user-select: none;
		}
	}

}
