.rangeControl {
    padding-left: 16px;
    padding-right: 16px;
}
.rangeControlHeading {
    color: $gray;
	padding-top: 32px;
	padding-bottom: 8;
    padding-left: 0;
	font-size: 14;
	font-weight: 500;
}