/* Editor styles */

.wp-block-a8c-motion-background {
	background-color: magenta;
}

.wp-block-a8c-motion-background-canvas {
	// Fix positioning from toolbar/menus
	top: -32px; // html.wp-toolbar
	left: -36px; // #adminmenumain

	@media screen and (max-width: 782px) {
		top: -46px;
		left: 0;
	}

	@media screen and (max-width: 600px) {
		top: 0;
	}
}
