/* Editor styles */

.wp-block-a8c-motion-background {
	display: flex;
	.components-placeholder.components-placeholder {
		position: absolute;
		height: 100%;
		width: 100%;
		margin-bottom: 0;
		z-index: 1;
	}
}

.components-button-group.is-radio-group {
	display: flex;
	margin-bottom: 0.5em;

	.components-button {
		display: inline-block;
		flex-grow: 1;
	}
}