/* Front end styles */

.wp-block-a8c-motion-background {
	display: flex;
	align-items: center;
	min-height: 430px;

	&__heading {
		z-index: 1;
		width: 100%;
		font-size: 84px;
	}
}

.wp-block-a8c-motion-background-canvas {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}