/* Editor styles */
.wp-block-a8c-event {
	.event__date-select {
		display: inline;
	}

	// Fixes for overriding editor styles
	.editor-styles-wrapper & {
		text-align: left;

		p {
			font-family: inherit;
		}

		.event__title {
			margin: 0 0 18px;
			font-weight: 800;
			line-height: 40px;
		}
	}
}
