/* Front end styles */
.wp-block-a8c-event {
	display: flex;
	flex-direction: row;

	padding: 18px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
	box-shadow: inset 0 0 0 4px rgba(0,0,0,.1);

	&.aligncenter {
		display: flex;
		text-align: left;
	}

	.event__datebox {
		float: left;
		width: 40px;
		height: 40px;
		background: black;
		color: white;
		margin: 0 18px 18px 0;
		padding: 4px;
		text-align: center;

		> span {
			display: block;
			margin: 0;
			line-height: 16px;
		}

		span:first-child {
			font-weight: bold;
			font-size: 12px;
		}
	}

	.event__title {
		font-weight: 800;
		line-height: 40px;
		clear: none;
	}

	.event__title,
	.event__time,
	.event__location {
		margin-top: 0;
		margin-bottom: 18px;
		hyphens: auto;
		overflow-wrap: break-word;
	}

	.event__description {
		margin-top: 18px;
	}

	.event__label {
		display: inline-block;
		min-width: 80px;
		opacity: 0.5;
	}

	.event__location {
		display: flex;
	}

	.event__details {
		flex: 2;
	}

	.event__image {
		flex: 1;
		margin-left: 18px;
	}

	.event__image--save {
		float: right;
	}
}
