.entry-content > .wp-block-jetpack-draft__label {
	text-align: right;
	font-size: 0.8rem;
	margin-bottom: 4px;
}
.entry-content > .wp-block-jetpack-draft {
	border: 1px dashed #cccccc;
	padding: 8px;
	margin-top: 0px;
}
