// Editor-only styles
.wp-block-a8c-bauhaus-centenary {
	.components-placeholder__label svg {
		margin-right: 0.75em;
	}

	.components-icon-button svg {
		// IE11 requires a fixed width & height for SVGs. Values are calculated
		// from what `height: 100%` and `width: auto` would have resulted in.
		height: 26px;
		width: 39px;
	}
}

.styles-panel {
	cursor: pointer;
	border-radius: 4px;
	padding: 4px;
	margin-bottom: 0.5em;

	&.is-selected {
		box-shadow: 0 0 0 2px #555d66;
	}

	&:focus {
		box-shadow: 0 0 0 2px #00a0d2;
	}

	&:hover {
		background-color: #f3f4f5;
		color: #191e23;
	}

	&__preview {
		border: 1px solid rgba( 25, 30, 35, 0.2 );
		border-radius: 4px;
		background-color: #fff;
		padding: 4px;

		svg {
			border-radius: 4px;
			display: block;
			width: 100%;
			height: auto;
		}
	}

	&__label {
		text-align: center;
		margin-bottom: 0;
	}
}

.components-button-group.is-radio-group {
	display: flex;
	margin-bottom: 0.5em;

	.components-button.is-button {
		display: inline-block;
		flex-grow: 1;
	}
}
