// Editor and View styles
.wp-block-jetpack-bauhaus-centenary {
	padding: 2rem 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	border-radius: 4px;

	.forms,
	.year,
	.ribbon {
		padding: 0 2rem;
	}

	.forms {
		display: flex;
		justify-content: center;
		align-content: center;

		svg {
			width: auto;
			margin-right: 1rem;
		}
	}

	.ribbon {
		display: flex;

		svg {
			height: 100%;
		}

		svg:first-child {
			flex-grow: 0;
		}

		svg:last-child {
			flex-grow: 1;
		}
	}

	&.alignfull {
		border-radius: 0;

		.ribbon {
			padding: 0;

			svg:first-child {
				flex-grow: 1;
			}

			svg:last-child {
				flex-grow: 3;
			}
		}
	}

}