/**
 * Frontend styles.
 */

.wp-block-a8c-model-viewer {
	// Provide some improved baseline default dimensions.
	width: 100%;
	height: 240px;

	// Clear out default margins on figure.
	margin-left: 0;
	margin-right: 0;
}

.wp-block-a8c-model-viewer-component {
	width: 100%;
	height: 100%;
}
