.column__placeholder {
	flex: 1;
	padding: $block-selected-to-content;
	background-color: $white;
	border: $border-width dashed $gray;
	border-radius: 4px;
}

.column__placeholder-dark {	
	background-color: $black;
	border: $border-width dashed $gray-70;
}

.column__placeholder-not-selected {
	padding-top: $block-selected-to-content;
}

.column__appender {
	margin-left: 8px;
	margin-right: 8px;
}


.column__padding-none {
	padding: 0;
}
/* Add extra space to the bottom of the column block make sure that the there is enough space between column block and the settings cog. */
.column__padding-none-is-selected {
	padding: 0 0 10px;
}

.column__padding-small {
	padding: 10px 8px 10px; 
}
.column__padding-medium {
	padding: 16px;
}
.column__padding-large {
	padding: 24px;
}
.column__padding-huge {
	padding: 48px;
}
