.column__placeholder {
	flex: 1;
	padding: $block-selected-to-content;
	border: $border-width dashed $gray;
	border-radius: 4px;
}

.column__placeholder-dark {	
	border: $border-width dashed $gray-70;
}

.column__placeholder-not-selected {
	padding: $block-selected-to-content;
	border: $border-width dashed $gray;
}

.column__appender {
	margin-left: $grid-unit-10;
	margin-right: $grid-unit-10;
	margin-bottom: -10px;
}

.column__appender-full-width {
	margin-left: $grid-unit * 2.5;
	margin-right: $grid-unit * 2.5;
}

.column__appender-full-width-has-children {
	margin-left: $grid-unit-15;
	margin-right: $grid-unit-15;
	margin-bottom: 5px;
}

.column__appender-not-full-width {
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 5px;
}

.column__padding-none {
	padding: 0;
}
/* Add extra space to the bottom of the column block make sure that the there is enough space between column block and the settings cog. */
.column__padding-none-is-selected {
	padding: 0 0 10px;
}

.column__padding-small {
	padding: 10px 8px 10px; 
}
.column__padding-medium {
	padding: 16px;
}
.column__padding-large {
	padding: 24px;
}
.column__padding-huge {
	padding: 48px;
}
